<ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="/profile-entry-form" routerLinkActive="active-link">profile entry form</a>
    </li>
    <li class="nav-item">
        <a routerLink="/DataBindingEventsHandling" routerLinkActive="active-link">Data Binding & Events Handling</a>
    </li>
    <li class="nav-item">
        <a routerLink="/office-punch-data" routerLinkActive="active-link">office punch data</a>
    </li>
    <li class="nav-item">
        <a routerLink="/directive" routerLinkActive="active-link">Directive Use</a>
    </li>
    <li class="nav-item">
        <a routerLink="/directive-demo" routerLinkActive="active-link">directive demo</a>
    </li>
    <li class="nav-item">
        <a routerLink="/service-demo" routerLinkActive="active-link">service demo</a>
    </li>
    <li class="nav-item">
        <a routerLink="/template-driven-form" routerLinkActive="active-link">template driven form</a>
    </li>
    <li class="nav-item">
        <a routerLink="/reactive-form-setup" routerLinkActive="active-link">reactive form setup</a>
    </li>
    <li class="nav-item">
        <a routerLink="/reactiveforms" routerLinkActive="active-link">Reactive forms</a>
    </li>
    <li class="nav-item">
        <a routerLink="/add-modal-list-table" routerLinkActive="active-link">add Modal list table</a>
    </li>
    <li class="nav-item">
        <a routerLink="/form-deatils-list" routerLinkActive="active-link">Form Deatils list</a>
    </li>
    <li class="nav-item">
        <a routerLink="/to-do-list" routerLinkActive="active-link">to-do-list</a>
    </li>
    <li class="nav-item">
        <a routerLink="/employee-listfrom" routerLinkActive="active-link">employee-listfrom</a>
    </li>
    <li class="nav-item">
        <a routerLink="/pipe-method" routerLinkActive="active-link">pipe-method</a>
    </li>
    <li class="nav-item">
        <a routerLink="/childcomponetmethod" routerLinkActive="active-link">child componet method</a>
    </li>
    <li class="nav-item">
        <a routerLink="/Formdemo" routerLinkActive="active-link">Form demo</a>
    </li>
    <li class="nav-item">
        <a routerLink="/loopmethod" routerLinkActive="active-link">Loop method</a>
    </li>
    <li class="nav-item">
        <a routerLink="/maketodolist" routerLinkActive="active-link">Make todo list</a>
    </li>
    <li class="nav-item">
        <a routerLink="/nestedloop-method" routerLinkActive="active-link">Nested loop Method</a>
    </li>
    <li class="nav-item">
        <a routerLink="/switchmethod" routerLinkActive="active-link">Switch method</a>
    </li>
    <li class="nav-item">
        <a routerLink="/toggle-element" routerLinkActive="active-link">Toggle Element</a>
    </li>
    <li class="nav-item">
        <a routerLink="/twowaybinding" routerLinkActive="active-link">two way binding</a>
    </li>
    <li class="nav-item">
        <a routerLink="/grid-view-hight" routerLinkActive="active-link"> grid view hight</a>
    </li>
</ul>