<div class="container mt-3">
    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                <div class="col">
                    <h1>Employee Form</h1>
                </div>
            </div>
            <div class="row">
                <form #form="ngForm">
                    <div class="col-sm">
                        <div class="row mb-2">
                            <div class="col-sm">
                                <label class="form-label">First Name</label>
                                <input type="text" required #FirstName="ngModel" class="form-control"
                                    [(ngModel)]="employeeObj.FirstName" name="FirstName" required minlength="5"
                                    [ngClass]="{'is-invalid': FirstName.touched && FirstName.invalid}">
                                <div class="error-class">
                                    <div *ngIf="FirstName.touched && FirstName.invalid ">
                                        <span *ngIf="FirstName.errors?.['required']"> Errors First Name</span>
                                        <span *ngIf="FirstName.errors?.['minlength']">First Name is must be
                                            5 charectors long..</span>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="row mb-2">
                            <div class="col-sm">
                                <label class="form-label">Last Name</label>
                                <input type="text" required #LastName="ngModel" class="form-control"
                                    [(ngModel)]="employeeObj.LastName" name="LastName" required minlength="5"
                                    [ngClass]="{'is-invalid': LastName.touched && LastName.invalid}">
                                <div class="error-class">
                                    <div *ngIf="LastName.touched && LastName.invalid ">
                                        <span *ngIf="LastName.errors?.['required']"> Errors Last Name</span>
                                        <span *ngIf="LastName.errors?.['minlength']">Last Name is must be
                                            5 charectors long..</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm">
                                <label class="form-label">Technology</label>
                                <input type="text" required #Technology="ngModel" class="form-control"
                                    [(ngModel)]="employeeObj.Technology" name="Technology">
                                <div class="error-class">
                                    <div *ngIf="Technology.touched"><span *ngIf="Technology.errors?.['required']">Errors
                                            Technology</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm">
                                <label class="form-label">Designation</label>
                                <input type="text" required #Designation="ngModel" class="form-control"
                                    [(ngModel)]="employeeObj.Designation" name="Designation">
                                <div class="error-class">
                                    <div *ngIf="Designation.touched"><span
                                            *ngIf="Designation.errors?.['required']">Errors
                                            Designation</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm">
                                <label class="form-label">Compnay</label>
                                <input type="text" required #Compnay="ngModel" class="form-control"
                                    [(ngModel)]="employeeObj.Compnay" name="Compnay">
                                <div class="error-class">
                                    <div *ngIf="Compnay.touched"><span *ngIf="Compnay.errors?.['required']">Errors
                                            Compnay</span></div>
                                </div>

                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm">
                                <label class="form-label">Compnay Deatils</label>
                                <textarea type="text" required #CompnayDeatils="ngModel" class="form-control"
                                    [(ngModel)]="employeeObj.CompnayDeatils" name="CompnayDeatils"></textarea>
                                <div class="error-class">
                                    <div *ngIf="CompnayDeatils.touched"><span
                                            *ngIf="CompnayDeatils.errors?.['required']">Errors Compnay Deatils</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm text-end">
                                <button class="btn btn-primary ms-3" [disabled]="form.invalid"
                                    (click)="onSave(employeeObj)">Save</button>
                                <button class="btn btn-primary ms-3">Cancle</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm">
            <div class="row mb-4">
                <div class="col">
                    <h1>Employee LIst</h1>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm"></div>
                <div class="col-sm-4">
                    <input type="text" [(ngModel)]="Searchdatalist" class="form-control" name="serachText">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Sr</th>
                                <th>Full Name</th>
                                <th>Technology</th>
                                <th>Designation</th>
                                <th>Company</th>
                                <th>Company Details</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="employeeArr.length > 0; else noData">
                                <tr *ngFor="let item of employeeArr | filter: Searchdatalist; let sr = index">
                                    <td>{{ sr + 1 }}</td>
                                    <td>{{ item.FirstName }} {{ item.LastName }}</td>
                                    <td>{{ item.Technology }}</td>
                                    <td>{{ item.Designation }}</td>
                                    <td>{{ item.Company }}</td>
                                    <td>{{ item.CompanyDetails }}</td>
                                    <td>
                                        <button class="btn btn-primary ms-3" (click)="onEdit(item)">Edit</button>
                                        <button class="btn btn-primary ms-3" (click)="onDelete(item)">Delete</button>
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-template #noData>
                                <tr align="center">
                                    <td colspan="7" style="padding: 50px;">No Record here...</td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>