<div class="container">
    <div class="row">
        <div class="col-sm justify-content-start">
            <div class="header-text">Reactive Form</div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row ">
        <div class="col d-flex align-items-center">
            <div class="header-text">Form Deatils List</div>
        </div>
        <div class="col-auto d-flex align-items-center">
            <i class="bi bi-plus-square-fill" (click)="AddNewEntry()"
                style="font-size: 30px; color: #0b5ed7; cursor: pointer;"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ag-grid-angular 
            [rowData]="contactFormArr" 
            [columnDefs]="columnDefs" 
            [defaultColDef]="defaultColDef"
            class="ag-theme-alpine" 
            style="width: 100%;" 
            (cellClicked)="onCellClicked($event)"
            [rowHeight]="rowHeight" 
            [domLayout]="'autoHeight'" 
            [headerHeight]="headerHeight"
            ></ag-grid-angular>
            <!-- <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobille</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of contactFormArr, let i = index">
                        <th>{{ i + 1 }}</th>
                        
                        <td>{{ item.Name }}</td>
                        <td>{{ item.Email }}</td>
                        <td>{{ item.Mobile }}</td>
                        <td class="text-center">
                          <button class="btn btn btn-primary  me-3"(click)="editFormData(item)" >Edit</button>
                          <button class="btn btn btn-primary" (click)="removeFormData(item)" >Remove</button>
                        </td>
                      </tr>
                </tbody>
            </table> -->
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>