
.header-text{
    line-height: 37px;
    font-size:25px;
    font-weight: 500;
    color: #fff;
}
.header-part{
    background-color: skyblue;
    padding: 10px 0;

}
.Add-Data{
    color: #FFF;
    background-color: #383838;
    box-shadow: none;
    outline: none;
    border: 0;
}