<div class="row">
    <div class="col">
        <h1 class="header-text">Profile Entry Form</h1>
    </div>
</div>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
        <div class="col-sm">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" placeholder="First Name" formControlName="firstName" required>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" required>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Gender</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="gender" name="gender" id="male"
                        value="male">
                    <label class="form-check-label" for="male">
                        Male
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="gender" name="gender" id="female"
                        value="female" checked>
                    <label class="form-check-label" for="female">
                        Female
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm">
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Email" formControlName="Email" required>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Phone Number </label>
                <input type="text" class="form-control" placeholder="Phone Number" formControlName="phoneNumber"
                    required>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Birth Date</label>
                <input type="date" class="form-control" formControlName="birthDate" required>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm">
            <div class="form-group">
                <label>Profile Photo</label>
                <input type="file" class="form-control" formControlName="profilePic">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Job Role</label>
                <select class="form-select" formControlName="jobRole" required>
                    <option selected>- Selecte Your Job Role -</option>
                    <option value="srDevloper">Sr.Devloper</option>
                    <option value="srDesigner">Sr.Designer</option>
                    <option value="srHr">Sr.Hr</option>
                </select>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Department</label>
                <select class="form-select" formControlName="department" required>
                    <option selected>- Selecte Your Department -</option>
                    <option value="devlopvment">Devlopvment</option>
                    <option value="uiux">UI/UX Designer</option>
                    <option value="hr">Hr</option>
                </select>

            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm">
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" placeholder="City" formControlName="city" required>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>State</label>
                <input type="text" class="form-control" placeholder="State" formControlName="state" required>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label>Contry</label>
                <input type="text" class="form-control" placeholder="Contry" formControlName="contry" required>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm">
            <button class="btn btn-primary me-2" type="submit">{{ editIndex === -1 ? 'Submit' : 'Update' }}</button>
            <button type="button" class="btn btn-primary" (click)="clearForm()">Cancle</button>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-24 text-end"><button type="button" class="btn btn-primary viewall" (click)="viewall()">View All
            Data</button></div>
    <div class="col">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th width="15%">Full Name</th>
                    <th width="5%">Gender</th>
                    <th width="14%">Email</th>
                    <th width="10%">Phone Number</th>
                    <th width="6%">Birth Date</th>
                    <th width="5%">Profile Photo</th>
                    <th width="9%">Job Role</th>
                    <th width="9%">Department</th>
                    <th width="8%">City</th>
                    <th width="5%">State</th>
                    <th width="5%">Contry</th>
                    <th width="9%">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of profileFormData, let i = index">
                    <td>{{item.firstName}} {{item.lastName}}</td>
                    <td>{{item.gender}}</td>
                    <td>{{item.Email}}</td>
                    <td>{{item.phoneNumber}}</td>
                    <td>{{item.birthDate}}</td>
                    <td><img *ngIf="item.profilePic" [src]="item.profilePic" alt="Profile Pic" class="profile-image">
                    </td>
                    <td>{{item.jobRole}}</td>
                    <td>{{item.department}}</td>
                    <td>{{item.city}}</td>
                    <td>{{item.state}}</td>
                    <td>{{item.contry}}</td>
                    <td>
                        <div class="btn edit me-2" (click)="editData(i)"><i class="bi bi-pencil-square"></i></div>
                        <div class="btn remove" (click)="removeData(i)"><i class="bi bi-trash-fill"></i></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>