form{
    .col-sm{
        .mb-3{
            position: relative;
            span{
                width: 100%;
                margin-top: 2px;
                color: red;
                position: absolute;
                text-align: right;

            }

        }
    }

}

